<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_two_third">

						<div class="col_half">

							<div class="widget clearfix">

								<img src="images/logo_transparent.png" alt="" class="footer-logo">

								<p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards.</p>

								<div style="background: url('images/world-map.png') no-repeat center center; background-size: 100%;">
									<address>
										<strong>Headquarters:</strong><br>
                    SKYNATURE GLOBAL SDN BHD (1160504-M)<br>
                    68A, Lorong Sanggul 1E,<br/>
                    Bandar Puteri,  41200 Klang, <br/>
                    Selangor, Malaysia.<br/>
									</address>
									<abbr title="Phone Number"><strong>Phone:</strong></abbr> -<br>
									<abbr title="Fax"><strong>Fax:</strong></abbr> -<br>
									<abbr title="Email Address"><strong>Email:</strong></abbr> skynatureglobal@yahoo.com
								</div>

							</div>

						</div>

						<div class="col_half col_last">

							<div class="widget widget_links clearfix">
                  <h4 style="margin-bottom: 5px;">Business Hours</h4>
                  <p>
                    <strong>Monday to Friday:</strong> <br/>10:00am - 6:30pm<br/>
                    <strong>Saturday, Sunday &amp; Public Holiday: </strong> <br/>Off
                  </p>
							</div>
              
              

						</div>

						

					</div>

					<div class="col_one_third col_last">

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="widget widget_links clearfix">
                  <h4 style="margin-bottom: 5px;">Company Bank Detail</h4>
                  <p>
                    <strong>Company Name:</strong> <br/>SkyNature Global Sdn Bhd<br/>
                    <strong>Bank Name:</strong> <br/>CIMB Bank<br/>
                    <strong>Bank account:</strong> <br/>8007756607<br/>
                    <strong>Bank Branch:</strong> <br/>CIMB USJ Taipan<br/>
                  </p>
							</div>

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
						Copyrights &copy; 2016 All Rights Reserved by Canvas Inc.<br>
						<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
					</div>

					<div class="col_half col_last tright">
						<div class="fright clearfix">
							<a href="https://www.facebook.com/Skynature-Global-Sdn-Bhd-1681169132094866/" class="social-icon si-small si-borderless si-facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="https://www.instagram.com/SKYNATUREGLOBAL_HQ/" class="social-icon si-small si-borderless si-instagram">
                <i class="icon-instagram"></i>
                <i class="icon-instagram"></i>
              </a>

						</div>

						<div class="clear"></div>

						<i class="icon-envelope2"></i> skynatureglobal@yahoo.com <span class="middot">&middot;</span>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>