        <div class="si-sticky si-sticky-right hidden-sm hidden-xs">
					<a href="https://www.facebook.com/Skynature-Global-Sdn-Bhd-1681169132094866/" class="social-icon si-colored si-facebook" data-animate="bounceInRight">
						<i class="icon-facebook"></i>
						<i class="icon-facebook"></i>
					</a>
					<a href="https://www.instagram.com/SKYNATUREGLOBAL_HQ/" class="social-icon si-colored si-instagram" data-animate="bounceInRight" data-delay="300">
						<i class="icon-instagram"></i>
						<i class="icon-instagram"></i>
					</a>
				</div>