<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

	<!-- Top Bar
	============================================= -->
	<div id="top-bar">

		<div class="container clearfix">

			<div class="col_half nobottommargin hidden-xs">

				<p class="nobottommargin"><strong>Email:</strong> skynatureglobal@yahoo.com</p>

			</div>

			<div class="col_half col_last fright nobottommargin">

				<!-- Top Links
				============================================= -->
				<div class="top-links">
					<ul>
						<li ng-if="logged_in == false || logged_in == undefined">
              <a href>Login</a>
							<div class="top-link-section">
								<form id="top-login" role="form" ng-submit="manual_login()">
									<div class="input-group" id="top-login-username">
										<span class="input-group-addon"><i class="icon-user"></i></span>
										<input type="email" ng-model="login.email" class="form-control" placeholder="Email address" required="">
									</div>
									<div class="input-group" id="top-login-password">
										<span class="input-group-addon"><i class="icon-key"></i></span>
										<input type="password" ng-model="login.password" class="form-control" placeholder="Password" required="">
									</div>
									<label class="checkbox">
										<input type="checkbox" value="remember-me"> Remember me
									</label>
									<button class="btn btn-danger btn-block" type="submit">Sign in</button>
								</form>
							</div>
						</li>
            <li ng-if="logged_in == true">
              <a href>Welcome, {{user_detail.name}}</a>
              <div class="top-link-section">
                <div>
                  <a href ng-click="viewDownline()">View Downline</a>
                </div>
                <div>
                  <a href ng-click="viewCommissions()">View Commissions</a>
                </div>
                <div>
                  <a href ng-click="logout()">Logout</a>
                </div>
              </div>
            </li>
					</ul>
				</div><!-- .top-links end -->

			</div>

		</div>

		</div><!-- #top-bar end -->

		<!-- Header
		============================================= -->
		<header id="header" class="sticky-style-2">

			<div class="container clearfix">

				<!-- Logo
				============================================= -->
				<div id="logo">
					<a href="index.html" class="standard-logo" data-dark-logo="images/SKY_NATURE_LOGO.jpg"></a>
					<a href="index.html" class="retina-logo" data-dark-logo="images/SKY_NATURE_LOGO.jpg"></a>
				</div><!-- #logo end -->

				<ul class="header-extras">
					<li>
						
					</li>
				</ul>

			</div>

			<div id="header-wrap">

				<!-- Primary Navigation
				============================================= -->
				<nav id="primary-menu" class="style-2" ng-include src="'assets/tpl/partials/menu.html'">
				</nav><!-- #primary-menu end -->

			</div>

		</header><!-- #header end -->