#logo a{
	background-image: url(../../images/SKY_NATURE_LOGO.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 90px;
	width: 240px;
}
#logo{ padding: 5px 0; }

.slider-container{ width: 745px; height: 530px; }
.slider-container .desc span{ display: inline-block; margin-right: 5px;   }
#tree-container{
  width: 100%;
  min-height: 500px;
  
}