		<!-- Content
		============================================= -->
		<section id="content" ng-controller="AboutController">

			<div class="content-wrap">

				<div class="container clearfix">
          
          <h2>About Us</h2>

          <p>Kejayaan dan kebahagiaan merupakan impian setiap individu yg lahir kedunia ini. dengan ini, sky nature memberikan satu peluang yg julung kali nya diberikan, yakni sebuah platform utk para rakan niaga mencapai setiap impian mereka. Dengan cara, teknik, ilmu, masa dan juga strategi yg telah dirancang secara teliti, setiap individu barupaya untuk berjaya dlm masa yg singkat dan berterusan secara stabil dan pasif.</p>
          <p>Walaupun kita hidup dlm dunia serba moden, pelbagai masalah seperti masalah kesihatan, kecantikan telah wujud akibat pemakanan yg tidak sehat, masalah keadaan sekitar yg kotor dan wujud juga masalah tiada masa bg menguruskan keadaan diri sendiri.</p>
          <p>Skynature menyediakan pelbagai jenis produk kesihatan &amp; kecantikan agar setiap insan dpt merasekan keadaan kesihatan tubuh badan yg optimum serta dapat merasakan apakah erti sebenar apabila menjadi cantik dan sihat. dengan bercirikan “nature” yakni alam semulajadi, skynature menyediakan produk berasaskan bahan semulajadi dlm bahan utama produk, Kami juga menggunakan teknologi yg terbaru dlm penghasilan produk yg berkualiti tinggi serta berharga mampu milik.</p>
          
          <h2>Vision</h2>
          
          <p>Membawa jenama sky nature ke serata dunia</p>
          
          <h2>Mission</h2>
          
          <p>Memberikan peluang perniagaan, menjadikan setiap rakan usahawan berupaya memperoleh jualan yg mantap serta sentiase mempertingkatkn layanan kepada pelanggan, rakan usahawan dan para pekerja.</p>
					
				</div>
        
        
        <div class="container clearfix" ng-if="view_connections == true">
          <div ng-include src="'assets/tpl/partials/connections.html'"></div>
        </div>
        
        <div class="container clearfix" ng-if="view_commission == true">
          <div ng-include src="'assets/tpl/partials/commission.html'"></div>
        </div>

			</div>

		</section><!-- #content end -->