		<!-- Content
		============================================= -->
		<section id="content" ng-controller="DashboardController">

			<div class="content-wrap">

				<div class="container clearfix" ng-if="main_images == true">

					<div class="col_two_third bottommargin-lg">
            <slick init-onload=true data="products" dots=true slides-to-scroll=1>
              <div class="slider-container" ng-repeat="row in products track by $index">
                <img ng-src="http://admin.skynatures.com/uploads/{{row.images[0].name}}" />
                <span class="desc">
                  <span>{{row.name}}</span><span>&middot;</span><span>RM{{row.price}}</span>
                </span>
              </div>
            </slick>
					</div>

					<div class="col_one_third bottommargin-lg col_last">
						<div class="col_full bottommargin-sm">
							<a href="#"><img src="images/skynature_banner1.jpg" alt="Image"></a>
						</div>
						<div class="col_full nobottommargin">
							<a href="#"><img src="images/skynature_banner2.jpg" alt="Image"></a>
						</div>
					</div>
					<div class="clear"></div>
				</div>
        
        
        <div class="container clearfix" ng-if="view_connections == true">
          <div ng-include src="'assets/tpl/partials/connections.html'"></div>
        </div>
        
        <div class="container clearfix" ng-if="view_commission == true">
          <div ng-include src="'assets/tpl/partials/commission.html'"></div>
        </div>

			</div>

		</section><!-- #content end -->