<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix" ng-controller="DashboardController">

	<!-- Top Bar
	============================================= -->
	<div id="top-bar">

		<div class="container clearfix">

			<div class="col_half nobottommargin hidden-xs">

				<p class="nobottommargin"><strong>Email:</strong> info@skynatures.com</p>

			</div>

			<div class="col_half col_last fright nobottommargin">

				<!-- Top Links
				============================================= -->
				<div class="top-links">
					<ul>
						<li ng-if="logged_in == false || logged_in == undefined">
              <a href>Login</a>
							<div class="top-link-section">
								<form id="top-login" role="form" ng-submit="manual_login()">
									<div class="input-group" id="top-login-username">
										<span class="input-group-addon"><i class="icon-user"></i></span>
										<input type="email" ng-model="login.email" class="form-control" placeholder="Email address" required="">
									</div>
									<div class="input-group" id="top-login-password">
										<span class="input-group-addon"><i class="icon-key"></i></span>
										<input type="password" ng-model="login.password" class="form-control" placeholder="Password" required="">
									</div>
									<label class="checkbox">
										<input type="checkbox" value="remember-me"> Remember me
									</label>
									<button class="btn btn-danger btn-block" type="submit">Sign in</button>
								</form>
							</div>
						</li>
            <li ng-if="logged_in == true">
              <a href>Welcome, {{user_detail.name}}</a>
              <div class="top-link-section">
                <div>
                  <a href ng-click="viewDownline()">View Downline</a>
                </div>
                <div>
                  <a href ng-click="logout()">Logout</a>
                </div>
              </div>
            </li>
					</ul>
				</div><!-- .top-links end -->

			</div>

		</div>

		</div><!-- #top-bar end -->

		<!-- Header
		============================================= -->
		<header id="header" class="sticky-style-2">

			<div class="container clearfix">

				<!-- Logo
				============================================= -->
				<div id="logo">
					<a href="index.html" class="standard-logo" data-dark-logo="images/SKY_NATURE_LOGO.jpg"></a>
					<a href="index.html" class="retina-logo" data-dark-logo="images/SKY_NATURE_LOGO.jpg"></a>
				</div><!-- #logo end -->

				<ul class="header-extras">
					<li>
						
					</li>
				</ul>

			</div>

			<div id="header-wrap">

				<!-- Primary Navigation
				============================================= -->
				<nav id="primary-menu" class="style-2" ng-include src="'assets/tpl/partials/menu.html'">
				</nav><!-- #primary-menu end -->

			</div>

		</header><!-- #header end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix" ng-if="main_images == true">

					<div class="col_two_third bottommargin-lg">
            <!--
						<div class="fslider" data-arrows="false">
							<div class="flexslider">
								<div class="slider-wrap">
									<div class="slide" ng-repeat="row in products">
										<a href="#" style="width: 745px; height: 488px; background-image: url(http://admin.skynatures.com/uploads/{{row.images[0].name}}); background-repeat: no-repeat; background-size: cover">
											
										</a>
									</div>
									
								</div>
							</div>
						</div>
            -->
            <slick init-onload=true data="products" dots=true slides-to-scroll=1>
              <div class="slider-container" ng-repeat="row in products track by $index">
                <img ng-src="http://admin.skynatures.com/uploads/{{row.images[0].name}}" />
              </div>
            </slick>
					</div>

					<div class="col_one_third bottommargin-lg col_last">
						<div class="col_full bottommargin-sm">
							<a href="#"><img src="images/skynature_banner1.jpg" alt="Image"></a>
						</div>
						<div class="col_full nobottommargin">
							<a href="#"><img src="images/skynature_banner2.jpg" alt="Image"></a>
						</div>
					</div>
					<div class="clear"></div>
				</div>
        
        
        <div class="container clearfix" ng-if="view_connections == true">
          <div ng-include src="'assets/tpl/partials/connections.html'"></div>
        </div>

				

				<div class="si-sticky si-sticky-right hidden-sm hidden-xs">
					<a href="#" class="social-icon si-colored si-facebook" data-animate="bounceInRight">
						<i class="icon-facebook"></i>
						<i class="icon-facebook"></i>
					</a>
					<a href="#" class="social-icon si-colored si-twitter" data-animate="bounceInRight" data-delay="100">
						<i class="icon-twitter"></i>
						<i class="icon-twitter"></i>
					</a>
					<a href="#" class="social-icon si-colored si-pinterest" data-animate="bounceInRight" data-delay="200">
						<i class="icon-pinterest"></i>
						<i class="icon-pinterest"></i>
					</a>
					<a href="#" class="social-icon si-colored si-instagram" data-animate="bounceInRight" data-delay="300">
						<i class="icon-instagram"></i>
						<i class="icon-instagram"></i>
					</a>
					<a href="#" class="social-icon si-colored si-gplus" data-animate="bounceInRight" data-delay="600">
						<i class="icon-gplus"></i>
						<i class="icon-gplus"></i>
					</a>
					<a href="#" class="social-icon si-colored si-rss" data-animate="bounceInRight" data-delay="700">
						<i class="icon-rss"></i>
						<i class="icon-rss"></i>
					</a>
				</div>

			</div>

		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_two_third">

						<div class="col_half">

							<div class="widget clearfix">

								<img src="images/logo_transparent.png" alt="" class="footer-logo">

								<p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards.</p>

								<div style="background: url('images/world-map.png') no-repeat center center; background-size: 100%;">
									<address>
										<strong>Headquarters:</strong><br>
                    SKYNATURE GLOBAL SDN BHD (1160504-M)<br>
                    68A, Lorong Sanggul 1E,<br/>
                    Bandar Puteri,  41200 Klang, <br/>
                    Selangor, Malaysia.<br/>
									</address>
									<abbr title="Phone Number"><strong>Phone:</strong></abbr> -<br>
									<abbr title="Fax"><strong>Fax:</strong></abbr> -<br>
									<abbr title="Email Address"><strong>Email:</strong></abbr> info@skynatures.com
								</div>

							</div>

						</div>

						<div class="col_half col_last">

							<div class="widget widget_links clearfix">
                  <h4 style="margin-bottom: 5px;">Business Hours</h4>
                  <p>
                    <strong>Monday to Friday:</strong> <br/>10:00am - 6:30pm<br/>
                    <strong>Saturday, Sunday &amp; Public Holiday: </strong> <br/>Off
                  </p>
							</div>
              
              <div class="widget widget_links clearfix">
                  <h4 style="margin-bottom: 5px;">Company Bank Detail</h4>
                  <p>
                    <strong>Company Name:</strong> <br/>SkyNature Global Sdn Bhd<br/>
                    <strong>Bank Name:</strong> <br/>CIMB Bank<br/>
                    <strong>Bank account:</strong> <br/>8007756607<br/>
                    <strong>Bank Branch:</strong> <br/>CIMB USJ Taipan<br/>
                  </p>
							</div>

						</div>

						

					</div>

					<div class="col_one_third col_last">

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								<h4>About Us</h4>
                <p>Kejayaan dan kebahagiaan merupakan impian setiap individu yg lahir kedunia ini. dengan ini, sky nature memberikan satu peluang yg julung kali nya diberikan, yakni sebuah platform utk para rakan niaga mencapai setiap impian mereka. Dengan cara, teknik, ilmu, masa dan juga strategi yg telah dirancang secara teliti, setiap individu barupaya untuk berjaya dlm masa yg singkat dan berterusan secara stabil dan pasif.</p>
                <p>Walaupun kita hidup dlm dunia serba moden, pelbagai masalah seperti masalah kesihatan, kecantikan telah wujud akibat pemakanan yg tidak sehat, masalah keadaan sekitar yg kotor dan wujud juga masalah tiada masa bg menguruskan keadaan diri sendiri.  </p>
                <p>Skynature menyediakan pelbagai jenis produk kesihatan & kecantikan agar setiap insan dpt merasekan keadaan kesihatan tubuh badan yg optimum serta dapat merasakan apakah erti sebenar apabila menjadi cantik dan sihat. dengan bercirikan “nature” yakni alam semulajadi, skynature menyediakan produk berasaskan bahan semulajadi dlm bahan utama produk, Kami juga menggunakan teknologi yg terbaru dlm penghasilan produk yg berkualiti tinggi serta berharga mampu milik.</p>
                
							</div>
              
              <div class="row">
                <h4>Visi</h4>
                <p>Membawa jenama sky nature ke serata dunia</p>
              </div>
              
              <div class="row">
                <h4>Misi</h4>
                <p>Memberikan peluang perniagaan, menjadikan setiap rakan usahawan berupaya memperoleh jualan yg mantap serta sentiase mempertingkatkn layanan kepada pelanggan, rakan usahawan dan para pekerja.</p>
              </div>

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
						Copyrights &copy; 2016 All Rights Reserved by Canvas Inc.<br>
						<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
					</div>

					<div class="col_half col_last tright">
						<div class="fright clearfix">
							<a href="#" class="social-icon si-small si-borderless si-facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-gplus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-pinterest">
								<i class="icon-pinterest"></i>
								<i class="icon-pinterest"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-vimeo">
								<i class="icon-vimeo"></i>
								<i class="icon-vimeo"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-github">
								<i class="icon-github"></i>
								<i class="icon-github"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-yahoo">
								<i class="icon-yahoo"></i>
								<i class="icon-yahoo"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
						</div>

						<div class="clear"></div>

						<i class="icon-envelope2"></i> info@skynatures.com <span class="middot">&middot;</span>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>
